.manual {
    margin: 1rem 0 0 1rem;

    > div {
        width: 100%;
        display: flex;
        margin-bottom: 1rem;
        align-items: center;
    }

    button {
        margin-right: 1rem;
    }

    input[type="checkbox"] {
        transform: scale(1.5);
        margin-right: 1rem;
    }

    input[type="range"] {
        margin-right: 1rem;
    }
}
